{% extends "layouts/mainlayout.html" %}

{% block title %}
Research Abstractor - Abstract
{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid" id="customContainer">
  <div class="container">
    <h2 class="titleHeader"><strong> Research Article Title: </strong></h2>
    <h1 class="titleStyle"> {{titleStr}} </h1>
    <h2 class="titleHeader"><strong> Generated Abstract: </strong></h2>
    <p class="abstractStyle"> {{ abstractStr }} </p>
    <h2 class="titleHeader"><strong> Sentence Evaluation: </strong></h2>
    <p class="tableStyle">
      <strong> Table 1. Sentence Rank and Value </strong>
      <table class="table">
        <thead>
          <tr>
            <th>Sentence Rank</th>
            <th>Sentence Number</th>
            <th>Sentence Value</th>
          </tr>
        </thead>
        <tbody>
          {% for key, value in abstractDict.items() %}
          <tr>
            <td data-title="Sentence Rank"> {{ key }} </td>
            <td data-title="Sentence Number"> {{ value[0] }} </td>
            <td data-title="Sentence Value"> {{ value[1] }} </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </p>
    <p class="tableStyle">
      <strong> Table 2. Sentence Scores </strong>
      <table class="table">
        <thead>
          <tr>
            <th>Sentence Rank</th>
            <th>Sentence Number</th>
            <th>TFISF Score</th>
            <th>Sentence Position Score</th>
            <th>Numerical Token Score</th>
            <th>Sentence Length Score</th>
            <th>Title Overlap Score</th>
            <th>Proper Noun Score</th>
            <th>Sentence Score</th>
          </tr>
        </thead>
        <tbody>
          {% for key2, value2 in abstractDict.items() %}
          {% set scores = value2[2] %}
          <tr>
            <td data-title="Sentence Rank"> {{ key2 }} </td>
            <td data-title="Sentence Number"> {{ value2[0] }} </td>
            <td data-title="TFISF Score"> {{ scores[0] }} </td>
            <td data-title="Sentence Position Score"> {{ scores[1] }} </td>
            <td data-title="Numerical Token Score"> {{ scores[2] }} </td>
            <td data-title="Sentence Length Score"> {{ scores[3] }} </td>
            <td data-title="Title Overlap Score"> {{ scores[4] }} </td>
            <td data-title="Proper Noun Score"> {{ scores[5] }} </td>
            <td data-title="Sentence Score"><strong> {{ scores[6] }} </strong></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </p>
    <p class="tableStyle">
      <strong> Graphical Representation of Feature Score Contribution </strong>
      <figure>
        <div class="y-axis">
          <h3> Sentence Rank </h3>
        </div>
        <div class="graphic">
          {% for key3, value3 in wScorePercentageDict.items() %}
          <div class="row">
            <h6> {{ key3 }} </h6>
            <div class="chart">
              <span class="block" title="TFISF" style="width: {{ value3[0] }};">
                <span class="value">{{ value3[0] }}</span>
              </span>
              <span class="block" title="Sentence Position" style="width: {{ value3[1] }};">
                <span class="value">{{ value3[1] }}</span>
              </span>
              <span class="block" title="Numerical Token" style="width: {{ value3[2] }};">
                <span class="value">{{ value3[2] }}</span>
              </span>
              <span class="block" title="Sentence Length" style="width: {{ value3[3] }};">
                <span class="value">{{ value3[3] }}</span>
              </span>
              <span class="block" title="Title Overlap" style="width: {{ value3[4] }};">
                <span class="value">{{ value3[4] }}</span>
              </span>
              <span class="block" title="Proper Noun" style="width: {{ value3[5] }};">
                <span class="value">{{ value3[5] }}</span>
              </span>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="x-axis">
          <h3>Features Extracted</h3>
          <ul class="legend">
            <li>TFISF</li>
            <li>Sentence Position</li>
            <li>Numerical Token</li>
            <li>Sentence Length</li>
            <li>Title Overlap</li>
            <li>Proper Noun</li>
          </ul>
        </div>
      </figure>
    </p>
  </div>
</div>

{% endblock %}
